{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="columns is-centered">
		<div class="column is-5-tablet is-4-desktop is-3-widescreen">
			<h3 class="title">User Profile</h3>
			
			<form class="box" method="POST" action="/logout">
				<div class="field has-text-centered">
					
					<figure class="image container is-48x48">
						<img class="is-rounded" src="{{ url_for('static', filename='media/login-page.svg') }}">
					</figure>
				</div>
				
				<div class="box">
					<div class="field">
						<div class="control">
							<p> {{ displayname }} </p>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<p>Authorised Groups</p>
							<p> {{ grouplist }} </p>
						</div>
					</div>
					
					<!-- adding logout function which could potentially safeguard against session hijacking attacks -->
					<div class="field">
						<button class="button is-fullwidth is-dark is-outlined">Logout</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}