{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="columns is-centered">
		<div class="column is-5-tablet is-4-desktop is-3-widescreen">
			<h3 class="title">ISS DES - Search</h3>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="notification is-warning">
						{{ messages[0] }}
					</div>
				{% endif %}
			{% endwith %}
			<p> Note, the authorised access to files are only available for the following groups {{grouplist}} or for {{aid}} ownership</p>
			
			<form class="box" method="POST" action="/search-download-1">
				<div class="field has-text-centered">
					
					<figure class="image container is-48x48">
						<img class="is-rounded" src="{{ url_for('static', filename='media/login-page.svg') }}">
					</figure>
				</div>
				
				<div class="box">
					<div class="field">
						<div class="label">File Name</div>
						<div class="control">
							<input class="input is-normal" type="text" name="filename" placeholder="partial or full file name" autofocus=""/>
						</div>
					</div>
					<div class="field">
						<div class="label">keyword or meta data tag</div>
						<div class="control">
							<input class="input is-normal" type="text" name="keyword-tag" placeholder="partial or full keyword" autofocus=""/>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<div class="select">
								<select name="selectedfiletype">
									<option value="any">all file types: ANY</option>
									<option value="zip">archive file: ZIP</option>
									<option value="docx">word file: DOCX</option>
									<option value="xlsx">excel file: XLSX</option>
									<option value="jpeg">image file: JPEG</option>
									<option value="jpg">image file: JPG</option>
									<option value="svg">image file: SVG</option>
									<option value="pdf">document file: PDF</option>
									<option value="txt">text/data file: TXT</option>
									<option value="csv">text/data file: CSV</option>
								</select>
							</div>
						</div>
					</div>
					
					<button class="button is-fullwidth is-dark- is-outlined">Search for files</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}