{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="columns is-centered">
		<div class="column is-5-tablet is-4-desktop is-3-widescreen">
			<h3 class="title">File Upload Success</h3>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="notification is-warning">
					{{ messages[0] }}
				</div>
				{% endif %}
			{% endwith %}
			
			<form class="box">
				<div class="field has-text-centered">
					
					<figure class="image container is-48x48">
						<img class="is-rounded" src="{{ url_for('static', filename='media/login-page.svg') }}">
					</figure>
				</div>
				
				<div class="box">
					<div class="field">
						<p>The file {{ fname }} successfully uploaded and only available to the account {{ aid }}. To share files with other groups/members, simply use the ISS DES's 'Search & Download' functionality.</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}